[submodule "ChinaOpenDataPortal-Backend"]
	path = ChinaOpenDataPortal-Backend
	url = git@github.com:cqsss/ChinaOpenDataPortal.git
[submodule "ChinaOpenDataPortal-Metadata"]
	path = ChinaOpenDataPortal-Metadata
	url = git@github.com:String10/ChinaOpenDataPortal-Metadata.git
[submodule "ChinaOpenDataPortal-IndexBuilder"]
	path = ChinaOpenDataPortal-IndexBuilder
	url = git@github.com:String10/ChinaOpenDataPortal-IndexBuilder.git
