[submodule "ChinaOpenDataPortal-Backend"]
	path = ChinaOpenDataPortal-Backend
	url = ../../cqsss/ChinaOpenDataPortal.git
[submodule "ChinaOpenDataPortal-Metadata"]
	path = ChinaOpenDataPortal-Metadata
	url = ../ChinaOpenDataPortal-Metadata.git
[submodule "ChinaOpenDataPortal-IndexBuilder"]
	path = ChinaOpenDataPortal-IndexBuilder
	url = ../ChinaOpenDataPortal-IndexBuilder.git
